.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: #fff;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 6px;
  height: 74px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(224, 224, 224);
  
}

.sidebar-link img {
  height: 24px;
  
}

.sidebar-link div {
  font-size: 10px;
}